<!-- ---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
--- -->

<!-- 
{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<style>
/* a { text-decoration : none; } */
/* a:hover { text-decoration : underline; } */
/* a, a:visited { color : #0050e7; } */
.links { position : relative; top : 1px;  }
.links a {text-decoration: none; margin-right : 20px; }
table td{ border:none; }
table strong a { color : #0050e7; }
table { border-collapse: collapse; border-style: hidden; font-size: 1em}
</style>

<!-- <div class="links">
  <p><strong><a href="https://visionlanguagelab.github.io/research/">Publications by Year</a></strong> &nbsp
  <strong><a href="topic.html">Publications by Topic</a></strong>
</div> -->
 
<div>
  <table style="width: 100%;">
    <tbody>

      <tr>
        <td style="width: 30%;">
          <img src="{{ base_path }}/images/publications/JSL2022.png" />
        </td>
        <td style="width: 70%;">
          <p>
            <strong>
              <span class="links">
                A Multi-Scenario Optimization Evolutionary Algorithm Based on Transfer Framework
              </span>
            </strong>
            <br> Shanlin Jiang, Gary G. Yen, and <b>Zhenan He*</b> <br>
            <em>IEEE Transactions on Evolutionary Computation,</em> 2022 <br>
            <span class="links">
              <a href="https://ieeexplore.ieee.org/document/9910596">Paper</a>
<!--               <a href="https://github.com/VisionLearningGroup/Ask_Attend_and_Answer">Code</a>
              <a href="https://www.youtube.com/embed/FjpRwVKYJQ8?rel=0">Video spotlight</a> -->
            </span>
          </p>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>
